@use 'colors.module' as colors;

button.solid,
button.outline,
button.link {
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 3rem;
    padding: 0 1.25rem;
    margin: 2.3rem 0;
    letter-spacing: 1px;
}

button.solid {
    min-width: 7.5rem;
    text-align: center;
    background-color: colors.$orange-dark;
    color: colors.$white;
    transition: background-color 200ms ease-out;
    &:hover {
        background-color: colors.$orange-light;
    }
}

button.outline {
    min-width: 7.5rem;
    text-align: center;
    background-color: transparent;
    outline: 1px solid black;
    outline-color: colors.$black;
    outline-offset: -1px;
    transition: color 200ms ease-out, background-color 200ms ease-out;
    &:hover {
        background-color: colors.$black;
        color: colors.$white;
    }
    &:focus {
        outline: -webkit-focus-ring-color auto 1px;
    }
}

button.link {
    background: none;
    padding-right: 1.25rem;
    position: relative;
    padding-left: 0;
    transition: color 200ms ease-out;
    &:after {
        content: url('../../public/arrow.svg');
        display: block;
        width: 5px;
        height: 10px;
        position: absolute;
        right: 0;
        top: calc(50% - 7px);
    }
    &:hover {
        color: colors.$orange-dark;
    }
}
