@use 'colors.module' as colors;

button.solid,
button.outline,
button.link {
    padding: 1.1rem 2.3rem;
    margin: 2rem;
    margin-left: 0;
    min-width: 160px;
    height: 48px;
}

.solid {
    background-color: colors.$orange-dark;
    color: colors.$white;
    &:hover {
        background-color: colors.$orange-light;
    }
}

.outline {
    background-color: transparent;
    outline: 1px solid black;
    outline-color: colors.$black;
    outline-offset: -1px;
    &:hover {
        background-color: colors.$black;
        color: colors.$white;
    }
    &:focus {
        outline: -webkit-focus-ring-color auto 1px;
    }
}

.link {
    color: colors.$gray;
    text-transform: uppercase;
    background: none;
    padding-right: 20px;
    position: relative;
    padding-left: 0;
    &:after {
        content: url('../../public/arrow.svg');
        display: block;
        width: 5px;
        height: 10px;
        position: absolute;
        right: 0;
        top: calc(50% - 5px);
    }
    &:hover {
        color: colors.$orange-dark;
        transition: all 400ms ease-out;
    }
}
