@use 'breakpoints';
@use 'colors.module' as colors;

.categoryList {
    list-style: none;
    margin-bottom: 65px;

    li {
        width: 100%;
        position: relative;
        text-align: center;
        margin-bottom: 20px;

        .grayBox {
            background-color: colors.$bg-secondary;
            height: 204px;
            border-radius: 8px;
            padding-top: 110px;
            margin-top: -80px;
        }

        .photoBox {
            height: 160px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                &.photo {
                    transition: transform ease 300ms;
                    z-index: 1;
                }
                &.shadow {
                    position: absolute;
                    top: 90px;
                }
            }
        }

        p {
            padding-bottom: 0;
        }

        &:hover {
            .photo {
                transform: translate(0, -10px);
            }
            .shadow {
                transform: scale(1.05);
                opacity: 0.9;
            }
        }
    }
}

@media (min-width: breakpoints.$breakpoint-tablet) {
    .categoryList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}
