@use 'breakpoints';
@use 'colors.module' as colors;

.topBanner {
    display: flex;
    text-align: center;
    color: colors.$white;
    height: 645px;
    margin-bottom: 40px;
    background: #141414 url('../../public/background-mobile.png') no-repeat
        bottom center;

    .column {
        max-width: 400px;
        margin: auto;
    }

    .overline,
    p {
        color: colors.$gray;
    }
}

@media (min-width: breakpoints.$breakpoint-desktop) {
    .topBanner {
        text-align: left;
        background-image: url('../../public/background.png');
        height: 633px;

        .column {
            width: 40%;
            max-width: none;
            margin: 0;
        }
    }
}
