@use 'colors.module' as colors;
@use 'breakpoints';

h1,
.h1 {
    font-size: 3.5rem;
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
}

h2,
.h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 0.094rem;
}

h3,
.h3 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.072rem;
}

h4,
.h4 {
    font-size: 1.75rem;
    line-height: 2.375rem;
    letter-spacing: 0.125rem;
}

h5,
.h5 {
    font-size: 1.5rem;
    line-height: 2.063rem;
    letter-spacing: 0.106rem;
}

h6,
.h6 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.081rem;
}

.overline {
    font-size: 0.875rem;
    line-height: 1.188rem;
    letter-spacing: 0.625rem;
    font-weight: 400;
    color: colors.$orange-dark;
}

.subtitle {
    font-size: 0.813rem;
    line-height: 1.563rem;
    letter-spacing: 0.063rem;
    font-weight: 700;
    color: colors.$orange-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.overline,
.subtitle {
    text-transform: uppercase;
    padding: 0 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
}

p {
    font-size: 0.938rem;
    line-height: 1.563rem;
    font-weight: 400;
}

button {
    font-size: 0.813rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

@media (max-width: breakpoints.$breakpoint-tablet) {
    h1,
    .h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    h2,
    .h2 {
        font-size: 1.75rem;
        letter-spacing: 0.0625rem;
    }
    h3,
    .h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
}
